* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Layout base */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    width: 95%;
    height: 100vh;
    padding: 17px;
    display: flex;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 17px;
}

/* ----- ROWS ----- */
.row {
    width: 100%;
}

/* ---------------- ROW 1 ---------------- */
.row--1 {
    height: 20%;
    display: flex;
    gap: 3px;
}

.row--1 .col {
    height: 100%;
    background-color: gray;
}

.row--1 .col--1 {
    width: 30%;
}

.row--1 .col--2 {
    width: 70%;
}

/* ---------------- ROW 2 ---------------- */
.row--2 {
    height: 50%;
    display: flex;
    gap: 3px;
    color: white;
    text-align: center;
    line-height: 250px;
}

.row--2 .col {
    width: 50%;
    background-color: black;
}

.row--2 .col--2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    /* background-color: red; */
    line-height: initial; 
    background-color: transparent;
}

/* ----- NESTED ROWS INSIDE ROW 2 ----- */
.sub-row {
    display: flex;
    gap: 3px;
    width: 100%;
    height: 50%;
}

.sub-row .sub-col {
    width: 50%;
    height: 100%;
    background-color: #f1f1f1;
}

/* ---------------- ROW 3 ---------------- */
.row--3 {
    height: 30%;
    display: flex;
    gap: 3px;
}

.row--3 .col {
    width: 33%;
    background-color: black;
}
